<?xml version='1.0' encoding='utf-8' ?>
<widget id='ru.fax1ty.socket_io_example' version='0.1.0' xmlns='http://www.w3.org/ns/widgets' xmlns:android='http://schemas.android.com/apk/res/android'>
  <name>SocketIO Example</name>
  <description>
    Example Tabris.js App
  </description>
  <author email='fax1ty.ru@gmail.com'>
    Artyom Davydov
  </author>
  <preference name='EnableDeveloperConsole' value='true' />
  <preference name='DisallowOverscroll' value='true' />
  <preference name='Orientation' value='portrait' />
  <preference name='UseStrictSSL' value='false' />

  <plugin name='tabris-plugin-socket.io' spec='https://github.com/fax1ty/tabris-plugin-socket.io.git' />

  <platform name='android'>

    <edit-config file='app/src/main/AndroidManifest.xml' target='/manifest/application' mode='merge'>
      <application android:usesCleartextTraffic='true' />
    </edit-config>
  </platform>
</widget>