<?xml version='1.0' encoding='UTF-8' ?>
<plugin xmlns='http://apache.org/cordova/ns/plugins/1.0' xmlns:android='http://schemas.android.com/apk/res/android' id='tabris-plugin-socket.io' version='0.0.1'>

  <name>Tabris.js Socket.IO Plugin</name>
  <description>???</description>
  <author>fax1ty</author>
  <license>MIT</license>

  <!-- cordova -->
  <engines>
    <engine name='cordova' version='>=3.8.0' />
  </engines>

  <js-module src='www/SocketIO.js' name='socket'>
    <clobbers target='SocketIO' />
  </js-module>

  <platform name='android'>
    <config-file target='AndroidManifest.xml' parent='/manifest/application'>
      <meta-data android:name='com.eclipsesource.tabris.android.HANDLER.ru.fax1ty.tabris.socket_io' android:value='ru.fax1ty.tabris.socket_io.SocketIOHandler' />
    </config-file>

    <framework src='io.socket:socket.io-client:1.0.0' />

    <source-file src='src/android/ru/fax1ty/tabris/socket_io/OnListener.kt' target-dir='src/ru/fax1ty/tabris/socket_io' />
    <source-file src='src/android/ru/fax1ty/tabris/socket_io/SocketIO.kt' target-dir='src/ru/fax1ty/tabris/socket_io' />
    <source-file src='src/android/ru/fax1ty/tabris/socket_io/SocketIOHandler.kt' target-dir='src/ru/fax1ty/tabris/socket_io' />
  </platform>

</plugin>